@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
h2 {
  color: rgb(131, 18, 103);
}
body {
  background-color: rgb(103, 173, 230);
}
.message {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 20vw 10px;
  background-color: rgb(144, 205, 233);
  padding: 80px 30px;
}
button {
  width: 10vw;
  align-self: center;
}

footer {
  position: relative;
  top: 40px;
  left: 15vw;

  margin-top: 40px;
}
